<div class="container">
  <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
  <div>
    <p>
      <mat-toolbar>
        <div class="padding-input-tolbar">
          <span>Super Heroes</span>
        </div>
        <div class="padding-input-tolbar">
          <mat-form-field>
            <mat-label>Filtrar Heroe</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
          </mat-form-field>
        </div>

        <div class="padding-input-tolbar">
          <form [formGroup]="heroId">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Buscar por Id</mat-label>
                <input onkeypress="return event.charCode>=48 && event.charCode<=57" formControlName="id" type="number"
                  matInput #input>
              </mat-form-field>
              <button (click)="getHeroId()" mat-raised-button color="primary">Buscar</button>
            </div>
          </form>
        </div>

        <div class="padding-input-tolbar">
          <button (click)="searchHero()" mat-raised-button color="accent">Buscar por Nombre</button>
        </div>
      </mat-toolbar>
    </p>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <div class="row">
            <div class="col-md-1 style-cursor" (click)="openEditForm(element)" matTooltip="Editar" id="editClient">
              <i class="fas fa-edit"></i>
              Editar
            </div>
            <div class="col-md-1 style-cursor" (click)="deleteHero(element)" matTooltip="Eliminar">
              <i class="far fa-trash-alt"></i>
              Eliminar
            </div>
          </div>

        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <section class="position-fab-button">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="primary" (click)="openForm()" matTooltip="Agregar Heroe"
            aria-label="Example icon button with a delete icon">
            Añadir
          </button>
        </div>
      </div>
    </div>
  </section>
</div>